body {
    color: aliceblue;
    background-color: black;
    margin: 0px;
    font-family: Chakra Petch;, sans-serif;
}

header {
     border-bottom: solid 2px  rgba(64, 126, 197, 0.575);
     margin: 20px;
     font-size: 32px;
     color: rgb(rgb(168, 42, 218);
    }

section {
    background: rgb(180, 86, 86)
    padding-botton: 80px;
    padding-top:80px;
    display: flex:
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;

}

h1 {
   font-size: 40px;
}

p {
    font-size: 20px;
}




